<div id="newBodyContent">
<img src="/images/great_wave_small.png"><span class="title">Edit Haiku</span>

<%= render 'form' %>

<%= link_to 'Show', @haiku %> |
<%= link_to 'Back', haikus_path %>
</div>
